/* FORCE RESET */
html, body {
    background-color: #2d5a27 !important; /* Aristopets Forest Green */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

* {
    color: white !important;
}
